@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link-underline {
    @apply w-full border rounded-md border-gray-800 transition duration-75 ease-in-out;
  }
  
  .pic-control-svg {
    @apply p-3 border-t-2 border-yellow-300 border-opacity-0 hover:bg-gray-900 hover:border-opacity-100;
    @apply transition duration-200 ease-in-out cursor-pointer;
  }
  
  input, textarea {
    @apply outline-none rounded px-2 py-1 text-black;
  }
  
  button {
   @apply text-xl p-2 border-2 
          rounded-md transition ease-in-out focus:outline-none;
  }
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  color: white;
}

h2, button {
  font-family: 'Source Sans Pro', sans-serif;
}