@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link-underline {
    @apply w-full border rounded-md border-gray-800 transition duration-75 ease-in-out;
  }
  
  .pic-control-svg {
    @apply p-3 hover:bg-gray-800;
    @apply transition duration-200 ease-in-out cursor-pointer;
  }
  
  input, textarea {
    @apply outline-none rounded px-2 py-1 text-black;
  }
  
  button {
   @apply text-xl px-2 py-1 border-2 
          rounded-md transition ease-in-out focus:outline-none;
  }
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  color: white;
}

h2, button {
  font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(17, 24, 39, 0.5);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(red, indigo, orange, yellow, green);
  height: 30px;
  border-radius: 5px;
}